
@media only screen and (max-width : 1024px){
    .center-page{
        margin-top: 25%;
    }
}

@media only screen and (min-width : 1024px){
    .center-page{
        margin-top: 20%;
    }
}

.mediumMargin{
    margin-top: 30px;
}
.smallMargin{
    margin-top :15px;
}